---

- name: 安裝 Java 21 (Jenkins 運行環境)
  apt:
    name: openjdk-21-jdk
    state: present
    update_cache: yes

- name: 下載 Jenkins 金鑰與設定清單
  block:
    - name: 下載 Jenkins GPG 金鑰
      get_url:
        # 注意：請確認官方最新的金鑰版本，目前常用的是 2023 或 2026 版
        url: https://pkg.jenkins.io/debian/jenkins.io-2026.key
        dest: /usr/share/keyrings/jenkins-keyring.asc
        mode: '0644'
        force: yes

    - name: 建立 Jenkins 來源清單
      copy:
        dest: /etc/apt/sources.list.d/jenkins.list
        content: "deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian binary/"
        mode: '0644'

- name: 更新 apt 快取
  apt:
    update_cache: yes

- name: 安裝 Jenkins
  apt:
    name: jenkins=2.547
    state: present
    update_cache: yes

- name: 安裝解壓縮套件 unzip
  apt:
    name: unzip
    state: present

- name: Install AWS CLI v2
  unarchive:
    src: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: /tmp
    remote_src: yes

- name: Run AWS CLI installer
  command: /tmp/aws/install --update

- command: aws --version
  register: aws_ver

- debug: var=aws_ver.stdout

- name: 安裝 kubectl (為了部署到 EKS)
  shell: |
    curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
  args:
    creates: /usr/local/bin/kubectl

- name: 設定 AWS 預設區域
  become: true
  shell: aws configure set region us-east-1

- name: 為 Jenkins 使用者產生 .kube 目錄
  file:
    path: /var/lib/jenkins/.kube
    state: directory
    owner: jenkins
    group: jenkins
    mode: '0700'

- name: 為 ubuntu 與 jenkins 兩者都初始化 EKS 
  shell: aws eks update-kubeconfig --region us-east-1 --name mini-finance-cluster
  become_user: "{{ item.user }}"
  environment:
    HOME: "{{ item.home }}"
  loop:
    - { user: 'ubuntu', home: '/home/ubuntu' }
    - { user: 'jenkins', home: '/var/lib/jenkins' }

- name: 修正兩者的 API 版本相容性
  replace:
    path: "{{ item }}/.kube/config"
    regexp: 'v1alpha1'
    replace: 'v1beta1'
  loop:
    - "/home/ubuntu"
    - "/var/lib/jenkins"
